<!DOCTYPE html>
<html lang="en" >
	<head>
		<title>{{ pageTitle }}</title>
		<meta charset="utf-8">
		<base href='/'>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	</head>
	<body scroll="no" data-node-receiver="mainMenu">
		{{{ body }}}
	</body>
</html>


<script type="text/javascript" src="/scripts/jquery-3.1.1.min.js"></script>

<script src="/scripts/msgbored.js"></script>